/* You can add global styles to this file, and also import other style files */
:root {
  --lightgray: #4d4d4d;
  --white: #fff;
  --lightyellow: #efefef;
  --lightdark: rgba(0, 0, 0, 0.3);
  --background_color: #333;
  --orgb: #eee;
  --red: red;
  --border: #fed028;
  --black: black;
  --navtext: #153661;
  --button-text: #000;
  --button-hover: #0a426b;
}

.card {
  border: unset;
  li {
    list-style: none !important;
    text-transform: capitalize;
  }
}
h3 {
  color: var(--navtext);
}
