/* You can add global styles to this file, and also import other style files */
:root {
  --lightgray: #4d4d4d;
  --white: #fff;
  --lightyellow: #efefef;
  --lightdark: rgba(0, 0, 0, 0.3);
  --background_color: #333;
  --orgb: #eee;
  --red: red;
  --border: #19a5a2;
  --black: black;
  --navtext: #153661;
}
