@import "../../../styles.scss";

section.homepage {
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  img {
    width: 230px;
    float: left;
    line-height: 0;
    position: relative;
  }
  .navbar-nav {
    a {
      padding-right: 25px !important;
      padding-left: 25px !important;
      color: var(--navtext);
      font-size: 18px;
    }
  }
  .navbar-light .navbar-toggler {
    background-color: white !important;
    border-color: unset;
  }
  .navbar-light .navbar-toggler {
    border-color: none;
  }
}
