@import url("../../../styles.scss");
section.book-details {
  .card {
    img {
      width: 100%;
      padding-left: 500px;
      padding-right: 500px;
    }
    @media screen and (max-width: 992px) {
      img {
        padding: unset;
      }
    }
  }
}
